nav{
    display: block;
    width: 400px;
    margin: 0 auto;
}
.main{
    margin-top: 10px;
    margin-left: 20px;
}
.make_post{
    border: 1px solid black;
    padding: 10px;
   
}
.available_post{
    border: 1px solid black;
    margin: 15px 0;
    padding: 10px;
    
}
#edit{
    background-color: rgb(226, 214, 214);
    border: 1px solid rgb(226, 214, 214);
    border-radius: 5px;
}
.btn{
    background-color: #cc999915;
    border: 1px solid black;
    border-radius: 5px
    ;
}

/*THE PROFILE SECTION*/
.profile-main, #profile-post{
    margin: 8px;
    border: 1px solid black;
    padding: 5px;
}

/*FOLLOWING SECTION*/
.following-post{
    border: 1px solid black;
}