{% extends "network/layout.html" %}
{% block body %}
 
     
    <div class="following-post">
        {%for post in pagePosts %}
          <div>
            <h2>{{post.user}}</h2>
            <h6>{{post.content}}</h6>
            <p>{{post.date}}</p>
          </div>
        {% empty %}
        <p>No posts from users you follow.</p>
        {%endfor%}
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {%if pagePosts.has_previous %}
               <li class="page-item"><a class="page-link" href="?page={{pagePosts.previous_page_number}}">previous</a></li>
            {%endif%}
            {%if pagePosts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{pagePosts.next_page_number}}">next</a></li>
            {%endif%}
        </ul>
    </nav>
{% endblock %}