{% extends "network/layout.html" %}

{% block body %}
    TODO
    <h1>Available posts</h1>
    {%if user.is_authenticated%}
     <h4>New Post</h4>
     <form method="post" action="{%url 'post'%}">
        {% csrf_token %}
        <textarea name="content" rows="4" cols="50"></textarea></br> 
        <input type="submit" value="post" />
    </form>
    {%endif%}

    <div>
        {%for post in pagePosts %}
          <div>
            <h2>{{post.user}}</h2>
            <h6>{{post.content}}</h6>
            <p>{{post.date}}</p>
          </div>
        {%endfor%}
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
{% endblock %}