{% extends "network/layout.html" %}

{% block body %}
    <script>
        function getCookies(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                const cookies = document.cookie.split(";");
                for (let cookie of cookies) {
                    cookie = cookie.trim();
                    if (cookie.startsWith(name + "=")) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


        function likedd(id) {
                const button = document.getElementById(`${id}`);
                const isLiked = button.dataset.liked === "true";
                const likeCount = document.getElementById(`like_count_${id}`);

                button.classList.remove("thumbs-up", "thumbs-down");

                if (isLiked) {
                    fetch(`/removeslike/${id}`,{
                           method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                                "X-CSRFToken": getCookies("csrftoken")
                            }
                    })
                        .then(response => response.json())
                        .then(result => {
                            button.classList.add("thumbs-up");
                            button.innerText = "👍";
                            button.dataset.liked = "false";
                            likeCount.innerText = result.likes; 
                        });
                } else {
                    fetch(`/addlike/${id}`,{
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                                "X-CSRFToken": getCookies("csrftoken")
                            }
                    })
                        .then(response => response.json())
                        .then(result => {
                            button.classList.add("thumbs-down");
                            button.innerText = "👎";
                            button.dataset.liked = "true";
                            likeCount.innerText = result.likes;  
                        });
                }
            }




    
        function saveChanges(id){
            const elt=document.getElementById(`text_${id}`).value;
            const content  = document.getElementById(`content_${id}`)
            const modal = document.getElementById(`modal_edit_post_${id}`)

            console.log("hi")
            fetch(`/edit/${id}`,{
                method: "POST",
                headers: {"content-type":"application/json","X-CSRFToken":getCookies("csrftoken")},
                body : JSON.stringify({
                    content:elt
                })
            })
            .then(response => response.json())
            .then(result =>{
             content.innerHTML = result.value
               // on every modal change state like in hidden modal
            modal.classList.remove('show');
            modal.setAttribute('aria-hidden', 'true');
            modal.setAttribute('style', 'display: none');
            
            // get modal backdrops
            const modalsBackdrops = document.getElementsByClassName('modal-backdrop');

            // remove every modal backdrop
            for(let i=0; i<modalsBackdrops.length; i++) {
            document.body.removeChild(modalsBackdrops[i]);
            }

        })
        }
    </script>
    
    <div class="main">
            <h1>Available posts</h1>
            <div class="make_post">
            {%if user.is_authenticated%}
            <h4>Make a new post</h4> 
            <form method="post" action="{%url 'post'%}">
                {% csrf_token %}
                <textarea name="content" rows="4" cols="50"></textarea></br> 
                <input type="submit" value="post" />
            </form>
            </div>
            {%endif%}

            <div>
                {%for post in pagePosts %}
                <div class="available_post">
                    <h2><a href="{%url 'profile' user_id=post.user.id%}">{{post.user}}</a></h2>
                    <h6 id="content_{{post.id}}">{{post.content}}</h6>
                    <p><i>{{post.date}}</i></p>

                    <!--Using js and bootstrap for this section-->
                    {%if user.is_authenticated%}
                        {%if user == post.user%}
                        <div>
                            <button id="edit" data-target="#modal_edit_post_{{post.id}}" type="submit" data-toggle="modal">Edit</button>
                        </div>
                        <div id="modal_edit_post_{{post.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_edit_post_{{post.id}}_label" aria-hidden="true" >
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit post</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <textarea id="text_{{post.id}}"name="content">{{post.content}}</textarea>
                            </div>
                            <div class="modal-footer">
                                <button onclick="saveChanges({{post.id}})" type="button" class="btn btn-primary">Save changes</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
    </div>

                    {%else%}
                        <div class="post" id="post_{{ post.id }}">
                            <p id="content_{{ post.id }}">{{ post.content }}</p>

                            <!-- Like Button -->
                            <button id="{{ post.id }}"
                                    class="{% if post.id in liked %}thumbs-down{% else %}thumbs-up{% endif %} btn"
                                    data-liked="{% if post.id in liked %}true{% else %}false{% endif %}"
                                    onclick="likedd({{ post.id }})">
                                {% if post.id in liked %}👎{% else %}👍{% endif %}
                            </button>

                            <!-- Like Count -->
                            <span id="like_count_{{ post.id }}">{{ post.like_post.count  }}</span> likes
                            </div>
                                    {%endif%}
                                {%endif%}
                            </div>
                            {%endfor%}
                        </div>
                    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {%if pagePosts.has_previous %}
               <li class="page-item"><a class="page-link" href="?page={{pagePosts.previous_page_number}}">Previous</a></li>
            {%endif%}
            {%if pagePosts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{pagePosts.next_page_number}}">Next</a></li>
            {%endif%}
        </ul>
    </nav>
{% endblock %}