{% extends "network/layout.html" %}

{% block body %}
    TODO
    <h2>{{name}}</h2>

    <div class="cont">
        <div class="profile-main">
            <h4>Followers: {{followers.count}}</h4>
            <h4>Following: {{following.count}}</h4>
            {%if user.is_authenticated%}
              {% if user != user_profile%}
                {%if isFollowing%}
                 <form action="{%url 'unfollow'%}" method="post">
                    {%csrf_token%}
                    <input type="hidden" name="userFollow" value="{{user_profile}}"/>
                    <input type="submit" value="Unfollow"/>
                 </form>
                {%else%}
                  <form action="{%url 'follow'%}" method="post">
                    {%csrf_token%}
                    <input type="hidden" name="userFollow" value="{{user_profile}}"/>
                    <input type="submit" value="follow"/>
                 </form>

                {%endif%}
              {%endif%}
            {%endif%}
        </div>

    </div>
    

    <div class="profile-main" id="profile-post">
        {%for post in pagePosts %}
          <div>
            <h2><a href="{%url 'profile' user_id=post.user.id%}">{{post.user}}</a></h2>
            <h6>{{post.content}}</h6>
            <p>{{post.date}}</p>
          </div>
        {%endfor%}
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {%if pagePosts.has_previous %}
               <li class="page-item"><a class="page-link" href="?page={{pagePosts.previous_page_number}}">Previous</a></li>
            {%endif%}
            {%if pagePosts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{pagePosts.next_page_number}}">Next</a></li>
            {%endif%}
        </ul>
    </nav>
{% endblock %}